[Desktop Entry]
Name=ClanBomber2
Comment=ClanBomber2 Game
Comment[pl]=Gra ClanBomber2
Icon=clanbomber
Exec=clanbomber2
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
